.Navbar {
  width: 100%;
  height: var(--navbar-height);

  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.mainLink {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #232134;
}

.active {
  color: green;
}
