.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  .page {
    width: 32px;
    height: 32px;
    color: var(--primaryColor);
    float: left;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
    background: #ffffff;
    border: 1px solid #d5d6dc;
    border-radius: 4px;
  }
}

.pagination .page:hover {
  background-color: #ddd;
}
.page.selected {
  background: var(--secondary-color);
  color: #ffffff;
}
.icon {
  fill: #7b7c88;
}
.disabled {
  fill: #d5d6dc;
}
