.red {
  background-color: #f1f1f1; // Здесь можно указать начальный цвет фона

  animation: background-red 0.5s linear infinite;
  animation-iteration-count: 1;

  @keyframes background-red {
    0% {
      background-color: #f1f1f1;
    }
    50% {
      background-color: #fd8282;
    }
    100% {
      background-color: #f1f1f1;
    }
  }
}

.green {
  background-color: #f1f1f1;

  animation: background-green 0.5s linear infinite;
  animation-iteration-count: 1;

  @keyframes background-green {
    0% {
      background-color: #f1f1f1;
    }
    50% {
      background-color: #76ff6d;
    }
    100% {
      background-color: #f1f1f1;
    }
  }
}

.link {
  color: var(--primary-color);
  font-size: 17px;
}

@media (max-width: 770px) {
  .item:nth-child(5),
  .item:nth-child(6) {
    display: none;
  }
}
@media (max-width: 580px) {
  .item:nth-child(4),
  .item:nth-child(7),
  .item:nth-child(8) {
    display: none;
  }
  .item:nth-child(2) {
    width: 100px;
  }
}
