.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;


  align-items: center;
  min-height: 84px;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1146px;
  padding: 0 15px;
  width: 100%;
}

.btn {
  max-width: 100px;
  width: 100%;
}

@media (max-width: 520px) {
  .container {
    justify-content: space-around;
    .popularCoins {
      align-self: end;
    }
  }
}
