.red {
  background-color: #f1f1f1; // Здесь можно указать начальный цвет фона

  // Анимация заднего фона
  animation: background-red 0.5s linear infinite;
  animation-iteration-count: 1;

  @keyframes background-red {
    0% {
      background-color: #f1f1f1;
    }
    50% {
      background-color: #fd8282;
    }
    100% {
      background-color: #f1f1f1;
    }
  }
}

.green {
  background-color: #f1f1f1;

  // Анимация заднего фона
  animation: background-green 0.5s linear infinite;
  animation-iteration-count: 1;

  @keyframes background-green{
    0% {
      background-color: #f1f1f1;
    }
    50% {
      background-color: #76ff6d;
    }
    100% {
      background-color: #f1f1f1;
    }
  }
}